.footer {
    width: 100%;
    background-color: #040408f3;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    margin-top: auto; /* Ensures it's below the content */
}

body, html {
    height: 100%; /* Ensure body and html stretch to full height */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#root {
    flex-grow: 1; /*Ensures the root element fills available space*/
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    min-height: 100vh;
}

/* Ensure footer stays at the bottom */
.footer {
     /*Push the footer to the bottom of the screen*/
}